<h1 setBackground>This is App Component</h1>
<div class="container" setBackground appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'yellow'" [title]="'Example title'">
  <p>This is a demo HTML content to understand &#64;HostBinding in Angular.</p>
</div>

<div [appClass]="{container: 10 > 5, 'change-font': true}">
  <p>This is a demo HTML content to create custom ngClass directive in Angular.</p>
</div>
